@font-face{
  font-family:minecraft;
  src:url(https://minecraftfont.tussiez.repl.co/Minecraft.ttf);
}
body{
  height:100%;
  width:100%;
  overflow:hidden;
  margin:0;
  padding:0;
  font-family:minecraft;
  background-image:url(dirt.png);
  image-rendering:pixelated;
  background-size:64px 64px;
  background-repeat:repeat;
}
html{
  height:100%;
  width:100%;
  overflow: hidden;
  margin:0;
  padding:0;
}
canvas{
  z-index:998;
  position:absolute;
  top:0;
  left:0;
  image-rendering:pixelated;
}
#fpsEle{
  position: absolute;
  z-index:999;
  top:1%;
  left:1%;
  color:black;
}
#handItem {
  position:absolute;
  z-index:999;
  top:60%;
  left:70%;
  width:40%;
  height:40%;
  background-image:url(items/silversword.gif);
  background-size:100% 100%;
  background-repeat:no-repeat;
  image-rendering:pixelated;
  transform:rotateY(-60deg) rotateZ(50deg);
}
#voxelNameOuter{
  z-index:999;
  position:absolute;
  height:40px;
  width:300px;
  font-size:24px;
  background-color:rgba(0,0,0,.7);
  color:white;
  border-radius:10px;
  top:calc(70% - 20px);
  left:calc(50% - 150px);
  opacity:1;
  display:none;
}
#voxelName{
  text-align:center;
}
#worldgen{
  z-index:999;
  position: absolute;
  height:100px;
  width:300px;
  top:calc(50% - 75px);
  left:calc(50% - 150px);
  font-family:minecraft;/*justin case*/
  color:white;
  text-align:center;
}
