@font-face{
  font-family:minecraft;
  src:url(https://minecraftfont.tussiez.repl.co/Minecraft.ttf);
}
body{
  height:100%;
  width:100%;
  overflow:hidden;
  margin:0;
  padding:0;
  font-family:minecraft;
  background-image:url(dirt.png);
  image-rendering:pixelated;
  background-size:64px 64px;
  background-repeat:repeat;
}
html{
  height:100%;
  width:100%;
  overflow: hidden;
  margin:0;
  padding:0;
}
#gameoptions{
  height:40%;
  width:40%;
  position:absolute;
  left:30%;
  top:30%;
  background-color:ghostwhite;
  opacity:.9;
  color:black;
  display: none;
  z-index:99999;
}
#loader_outer{
  height:200px;
  width:400px;
  position:absolute;
  z-index:1001;
  top:calc(50% - 100px);
  left:calc(50% - 200px);
}
#loader_title{
  font-size:24px;
  color:white;
  text-align:center;
}
#blockCount{
  color:black;
  font-size:10px;
  margin-top:-5px;
}
#loader_bg{
  background-color:gray;
  height:10px;
  width:200px;
  position:absolute;
  left:calc(50% - 100px);
  top:calc(50% - 10px);
}
#loader{
  width:0;
  height:10px;
  background-color:#83f07f;
  overflow:hidden;
}
#overlay{
  height:100%;
  width:100%;
  background-image:url(dirt.png);
  background-size:64px 64px;
  background-repeat:repeat;
  z-index:1000;
  display:block;
  position:absolute;
  top:0;
  left:0;
}
#overlay2{
  height:100%;
  width:100%;
  z-index:1000;
  background-image:url(garland.png);
  image-rendering:pixelated;
  background-size:30% 10%;
  background-repeat:repeat-x;
}
canvas{
  z-index:998;
  position:absolute;
  top:0;
  left:0;
  image-rendering:pixelated;
}
#fpsEle{
  position: absolute;
  z-index:999;
  top:1%;
  left:1%;
  color:black;
}
#handItem {
  position:absolute;
  z-index:999;
  top:60%;
  left:70%;
  width:40%;
  height:40%;
  background-repeat:no-repeat;
  background-image:url(items/silversword.gif);
background-size:100% 100%;
  image-rendering:pixelated;
  transform:rotateY(-60deg) rotateZ(50deg);
}
.voxelNameOuter{
  z-index:999;
  position:absolute;
  height:40px;
  width:300px;
  font-size:24px;
  background-color:rgba(0,0,0,.7);
  color:white;
  border-radius:10px;
  top:calc(70% - 20px);
  left:calc(50% - 150px);
  opacity:1;
  display:none;
}
#debug{
  z-index:9999;
  position:absolute;
  top:5%;
  left:1%;
  background-color:black;
  opacity:.70;
  color:white;
  height:24px;
  width:125px;
  border-radius:10px;
  font-size:16px;
  display:none;
  font-family:monospace;
}
.voxelName{
  text-align:center;
}
#worldgen{
  z-index:999;
  position: absolute;
  height:100px;
  width:300px;
  top:calc(50% - 75px);
  left:calc(50% - 150px);
  font-family:minecraft;/*justin case*/
  color:white;
  text-align:center;
}

.box{
  height:9%;
  width:9%;
  border:2px inset white;
  display:inline-block;
  background-color:#dcdce3;
  margin-left:2px;
  overflow:hidden;
  position:relative;
}
.item{
  height:80%;
  width:80%;
  display:inline-block;
  background-color:#dcdce3;
  margin-left:2px;
  image-rendering:pixelated;
  max-height:100px;
  max-width:100px;
}
.stackable{
  height:80%;
  width:80%;
  display:inline-block;
  background-color:#dcdce3;
  margin-left:2px;
  image-rendering:pixelated;
  max-height:100px;
  max-width:100px;
}
.hotbar{
    position: absolute;
    image-rendering:pixelated;
    left:calc(50% - 292.5px);
    top:calc(95% - 32px);
}