@font-face{
  font-family:minecraft;
  src:url(https://minecraftfont.tussiez.repl.co/Minecraft.ttf);
}
body{
  height:100%;
  width:100%;
  overflow:hidden;
  margin:0;
  padding:0;
  font-family:minecraft;
  background-image:url(dirt.png);
  image-rendering:pixelated;
  background-size:64px 64px;
  background-repeat:repeat;
}
html{
  height:100%;
  width:100%;
  overflow: hidden;
  margin:0;
  padding:0;
}
canvas{
  z-index:998;
  position:absolute;
  top:0;
  left:0;
  image-rendering:pixelated;
}
#fpsEle{
  position: absolute;
  z-index:999;
  top:1%;
  left:1%;
  color:black;
}
#voxelName{
  z-index:999;
  position:absolute;
  height:200px;
  width:40px;
  font-size:24px;
  background-color:rgba(0,0,0,.7);
  color:white;
  border-radius:20px;
  top:20%;
  left:20%;
  display:none;
}
#worldgen{
  z-index:999;
  position: absolute;
  height:100px;
  width:300px;
  top:calc(50% - 75px);
  left:calc(50% - 150px);
  font-family:minecraft;/*justin case*/
  color:white;
  text-align:center;
}
